{% extends 'registration/registration_base.html' %}
{% load i18n %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/accounts.css' %}" type="text/css" />
{% endblock %}
{% block title %}{% trans "Change password" %} {% endblock %}
{% block content %}
<div class="col-sm-6 mx-auto card mt-5">
    <form method="post" action="" novalidate class="mt-3">
    {% csrf_token %}
    {% include 'includes/form.html' with form=form %}
    <button type="submit" class="btn btn-primary mb-3">{% trans 'Change password' %}</button>
</form>
</div>
{% endblock %}