{% extends 'registration/registration_base.html' %}
{% load i18n %}
{% block title %}{% trans "Password reset complete" %}{% endblock %}
{% block content %}
<div class="col-sm-7 mx-auto mt-5">
<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">{% trans 'Pasword Reset Successful!' %}</h4>
    <p class="lead">
    {% trans "Your password has been reset!" %}
    {% blocktrans %}You may now <a class="btn btn-primary" href="{{ login_url }}">log in</a>{% endblocktrans %}.

</p>
   
</div>
</div>
{% endblock %}