{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load static %}
{% block meta %}
<!-- NOTE(joshblum): This prevents leaking the password reset token via the
   Referer header to any 3rd party apps on the page. -->
<meta name="referrer" content="origin">
{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/accounts.css' %}" type="text/css" />
{% endblock %}
{% block title %}{% trans "Confirm password reset" %}{% endblock %}
{% block content %}
{% if validlink %}
<div class="col-sm-7 mx-auto">
     <div class="card">
    <div class="card-body">
    <p class="lead text-muted">{% trans "Enter your new password below to reset your password:" %}</p>
    <form method="post" action="" novalidate>
    {% csrf_token %}
    {% include 'includes/form.html' with form=form %}
    <button type="submit" class="btn btn-primary mb-0">{% trans 'Set password' %}</button>
    </form>
    </div>
    </div>
{% else %}
<div class="alert alert-danger" role="alert">
  <h4 class="alert-heading">{% trans 'Password reset unsuccessful!' %}</h4>
  <p>{% trans ' Password reset unsuccessful. Please'%}<a href="{% url 'auth_password_reset' %}"></a>{% trans 'try again.' %}</p>
  </div>
{% endif %}
</div>

{% endblock %}