  <nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand" href="{% url 'home' %}">Yelp Camp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        {% if user.is_authenticated %}
        <a class="nav-link" href="#">sigin as {{user.username }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'auth_logout' %}">logout</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'auth_login' %}">Sigin</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'registration_register' %}">Signup</a>
      </li>
      {% endif %}
    </ul>
  </div>  
</nav>
{% if messages %}
    <div class="container">
      <div class="row">
        <div class="col-sm-7 mx-auto mt-1">
          {% include 'includes/messages.html' %}
        </div>
      </div>
    </div>
    {% endif %}